
  <div class="footer">
  <img class="apex-icon" alt="APEX" src="/assets/icons/APEX.png">
  <div class="home-parent">
    <div class="home">HOME</div>
    <div class="personalizar">PERSONALIZAR</div>
    <div class="galeria">GALERIA</div>
    <div class="sobre-ns">SOBRE NÓS</div>
    <div class="navegar">NAVEGAR</div>
    <div class="footer-login">LOGIN</div>
    <div class="gerar">GERAR</div>
    <div class="cadastrar">CADASTRAR</div>
  </div>
  <div style="display:flex; gap:16px; align-items:center;">
    <img class="instagram-icon" alt="Instagram" src="/assets/icons/Instagram.png">
    <img class="github-icon" alt="GitHub" src="/assets/icons/GitHub.png">
  </div>
</div>
 
  	
  