<div class="header">
  <img class="logotipo-icon" alt="APEX" src="/assets/icons/APEX.png">
  <nav class="nav-links">
    <div class="home">HOME</div>
    <div class="home">GALERIA</div>
    <div class="home">SOBRE NÓS</div>
  </nav>
  <div class="instance-parent">
    <div class="entrar-parent">
      <div class="home">Cadastre-se</div>
      <img class="play-icon" alt="" src="/assets/icons/play.svg">
    </div>
    <div class="comear">
      <div class="comear2">Personalizar</div>
      <img class="log-in-icon" alt="" src="/assets/icons/log-in.svg">
    </div>
  </div>
</div>