<div class="header">
  <div class="header-child">
  </div>
  <img class="apex-icon" alt="">
  <div class="home-parent">
    <div class="home">HOME</div>
    <div class="home">PERSONALIZAR</div>
    <div class="home">GALERIA</div>
    <div class="home">SOBRE NÓS</div>
    <div class="instance-parent">
      <div class="entrar-parent">
        <div class="home">Entrar</div>
        <img class="play-icon" alt="">
      </div>
      <div class="comear">
        <div class="comear2">Começar</div>
        <img class="log-in-icon" alt="">
      </div>