<div class="header">
  <a href="/">
    <img class="logotipo-icon" alt="APEX" src="/assets/icons/APEX.png">
  </a>
  
  <nav class="nav-links">
    <a href="/index.html" class="home">HOME</a>
    <a href="/pages/dentro-das-ruas.html" class="home">GALERIA</a>
    <a href="/pages/sobre.html" class="home">SOBRE NÓS</a>
  </nav>

  <div class="instance-parent">
    <a href="../pages/cadastro.html" class="entrar-parent">
      <div class="home">Cadastre-se</div>
      <img class="play-icon" alt="" src="/assets/icons/play.svg">
    </a>
    
    <a href="/pages/upload.html" class="comear">
      <div class="comear2">Personalizar</div>
      <img class="log-in-icon" alt="" src="/assets/icons/log-in.svg">
    </a>
  </div>
</div>