/* Remove todas as margens do navegador */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: #00020b; 
}

/* O mapa ignora o fluxo e cobre tudo */
#map {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px); /* Ocupa tudo menos a altura do header */
    z-index: 1;
}


#header-placeholder {
    position: relative;
    z-index: 10;
}